.btn {
    max-width: max-content;
    max-height: max-content;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    padding: 0px 50px 0px 50px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}
.btn:hover {
    text-decoration: none;
}
.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
  
.btn-active:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn-greyed {
    color: rgba(255, 255, 255, 0.4);
    outline-color: rgba(255, 255, 255, 0.2);
    cursor:default;
}