#board{
    left: 550px;
    top: 50px;
}
#board td{
    border:1px solid black;
}
aside{
    position:fixed;
    left:0px;
    top:0px;
    width:500px;
    height:100%;
    overflow-y:scroll;
    background-color: #19222a;
}