body{
    position: relative;
    overflow: default;
    width:100vw;
    height:100vh;
}
#board{
    position: absolute;
    left: 45%;
    top: 5%;
    border-spacing: 0px;
    border-collapse: collapse;
    user-select: none;
}
#board td{
    position: static;
    box-sizing: border-box;
}
#board td.square{
    border:1px solid black;
}
#board td.selected, .winpat_selected{
    border:2px solid #ffff00;
    box-shadow: 0 0 10px #ffff00;
    z-index:2;
}
#board td.deleted{
    background-color:transparent;
    border:none;
}
aside{
    position:fixed;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    color:white;
    justify-content:flex-start;
    text-align: center;
    left:0px;
    top:0px;
    width:40%;
    height:100%;
    min-height: min-content;
    overflow-y:scroll;
    background-color: #19222a;
    font-family: Roboto, 'Helvetica Neue', Arial;
}
#color-palette{
    position: relative;
    justify-content: center;
    width: calc(100% - 40px);
    padding: 20px 20px 20px 20px;
    height: auto;
}
#color-palette div{
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    margin:10px 10px 10px 10px;
}
#button-holder{
    position: relative;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding:20px 10px 0px 10px;
    margin:10px 10px 10px 10px;
}
#show_wp{
    background-color:#09121a;
    color:white;
    position: relative;
    margin: 20px 20px 20px 20px;
    width: calc(100% - 40px);
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    justify-content: center;
    text-align: center;
    font-size:10px;
    user-select: none;
    font-family: Roboto, 'Helvetica Neue', Arial;
}
.wp_line{
    position: relative;
    padding: 10px 10px 10px 10px;
    width: calc(33% - 22px);
    float:left;
    text-align: center;
}
span.header{
    font-size:15px;
    font-weight: bold;
}
#add_rows{
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;
    justify-content:center;
    text-align:center;
    font-family: Roboto, 'Helvetica Neue', Arial;
    max-width: max-content;
}
#special_patterns{
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#checkboxes{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    text-align:center;
    margin: 10px 0px 10px 0px;
}
.checkbox{
    text-align: center;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0px 10px 0px 10px;
}
#rownumber{
    width:20px;
    font-size:15px;
    border:none;
    height:20px;
    background-color:#09121a;
    color:white;
}
.addbutton {
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.addbutton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.addbutton:active {
	position:relative;
	top:1px;
}
#add_squares{
    margin-left:40px;
}
.column{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.row{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#savestuff{
    font-family: Roboto, 'Helvetica Neue', Arial;
    margin-top:30px;
}
#name{
    width:160px;
    border:none;
    font-size:18;
    height:25px;
    background-color:#09121a;
    color:white;
    margin:10px 20px 10px 5px;
}
#namdiv{
    font-size:20px;
}
#save{
    margin-right: 5px;
}
#save_message{
    position:relative;
    margin:5px;
    transition: 0.3s;
    color:red;
}