.vscode/
venv/
__pycache__/
solver.log
*.txt
*.pdf
*.dot
*.odp#
*.log
gctest.py
*.pyc
old_functions.py
secrets.json
geckodriver
old_proofsets/
yucataing_it/
old_code/
ai_api.py
helper_program.py
merge_sets.py
hole_game.json
hole_tic_tac_toe.json