#board{
    width: 475px;
    height: 475px;
    left: 250px;
    top: 250px;
}
#board tr{
    height:125px;
}
#board td{
    width:125px;
}
.blocked_square{
    text-align: center;
    font-size: 82px;
    color:black;
}
.whitestone:after{
    content:"X"
}
.blackstone:after{
    content:"O"
}
.stone{
    font-size:60px;
}