#board{
    border-spacing: 0px;
    border-collapse: collapse;
    user-select: none;
}
#board td{
    position: static;
    box-sizing: border-box;
}
#board td.square{
    border:1px solid black;
}
body {
    background: white;
}
.whitestone{
    background-color: white;
}
.blackstone{
    background-color: black;
}
.stone{
    display: inline-block;
    position: relative;
    width:80%;
    height:80%;
    border-radius: 50%;
    border:1px solid black;
}