<head>
    <title>Game Solver</title>
    <link rel="stylesheet" href="/static_solver/styles/table.css">
    <link rel="stylesheet" href="/static_solver/styles/general.css">
    <link rel="stylesheet" href="/static_solver/styles/button.css">
</head>
<body>
<script>
function xml_http_post(url, data, callback) {
    const req = new XMLHttpRequest();
    req.open("POST", url, true);
    req.setRequestHeader("Content-Type", "application/json");
    req.onreadystatechange = function() {
        if (this.readyState == 4) {
            callback(JSON.parse(this.responseText));
        }
    }
    req.send(JSON.stringify(data));
}
function del_game(game_name){
    if (confirm(`Are you sure you want to delete ${game_name}?`)) {
        xml_http_post("/solver",{"delete":game_name},function(){location.reload();});
    }
}
</script>
<a class="button6" href="/solver/creator/new_game">Create New Game</a>
<div class="table-wrapper-wrapper">
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Game Name</th>
                <th>Edit</th>
                <th>Analyze</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                {{table_body|safe}}
            <tbody>
        </table>
    </div>
</div>
</body>