body{
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-wrap: nowrap;
}
.button6{
    margin-top:60px;
}
.table-wrapper-wrapper{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
table a{
    color:blue;
    text-decoration: dotted;
    font-family: Roboto, 'Helvetica Neue', Arial;
    font-size:15px;
}
tr td:first-child{
    font-family: cursive;
    font-size:15px;
}