.blocked_square{
    text-align: center;
    font-size: 82px;
    color:black;
}
.whitestone{
    background-color: white;
}
.blackstone{
    background-color: black;
}
.stone{
    width:80%;
    height:80%;
    top:10%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}